.sidebar-toggle-button {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #007bff;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1002;
  border-radius: 0 4px 4px 0;
}


.sidebar-container {
  position: fixed;
  left: 0;
  top: 110px;
  width: 0;

  transition: width 0.3s ease;
  border-right: 1px solid #ddd;
  background: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
}

.sidebar-container.open {
  width: 250px;
}

.sidebar-toggle {
  cursor: pointer;
  padding: 0.5rem;
  background: #007bff;
  color: white;
  text-align: center;
}

.sidebar-content {
  padding: 1rem;
}

.sidebar-container.open .sidebar-content{
  opacity: 1;
}

.sidebar-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-content li {
  margin-bottom: 1rem;
}

.sidebar-content a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.sidebar-content a:hover {
  color: #007bff;
}
