<div class="container">
  @if (error) {
    <div>{{ error }}</div>
  }

  @if (formular && formularForm) {
    <h1>{{ formular.titel }}</h1>
    <h4>{{ formular.beschreibung }}</h4>

    <form [formGroup]="formularForm">

      @for (feld of formular.felder; track feld.id) {
        <div class="form-group">
          @if(feld.pflichtfeld){
            <label>
              {{feld.label }} *
            </label>
          } @else {
            <label>
              {{ feld.label }}
            </label>
          }
          @if (feld.feldTyp === 'TEXT') {
            <input
              type="text"
              [formControlName]="feld.feldName"
              [placeholder]="feld.placeholder || ''"
              class="form-control"
            />
          }

          @if (feld.feldTyp === 'TEXTAREA') {
            <textarea
              [formControlName]="feld.feldName"
              [placeholder]="feld.placeholder || ''"
              class="form-control"
              rows="4"
            ></textarea>
          }

          @if (feld.feldTyp === 'EMAIL') {
            <input
              type="email"
              [formControlName]="feld.feldName"
              [placeholder]="feld.placeholder || ''"
              class="form-control"
            />
          }

          @if (feld.feldTyp === 'ZAHL') {
            <input
              type="number"
              [formControlName]="feld.feldName"
              [placeholder]="feld.placeholder || ''"
              [min]="feld.minValue || 0"
              [max]="feld.maxValue || 0"
              class="form-control"
            />
          }

          @if (feld.feldTyp === 'DATUM') {
            <input
              type="date"
              [formControlName]="feld.feldName"
              class="form-control"
            />
          }

          @if (feld.feldTyp === 'CHECKBOX') {
            <div class="checkbox-wrapper">
              <input
                type="checkbox"
                [formControlName]="feld.feldName"
                class="form-check-input"
                id="checkbox_{{ feld.id }}"
              />
              <label for="checkbox_{{ feld.id }}" class="form-check-label">
                {{ feld.checkboxLabelTrue || 'Ja' }}
              </label>
            </div>
          }

          @if (feld.feldTyp === 'AUSWAHLLISTE' && feld.optionen) {
            <select
              [formControlName]="feld.feldName"
              class="form-control"
            >
              <option value="">Bitte wählen...</option>
              @for (option of feld.optionen; track option) {
                <option [value]="option">{{ option }}</option>
              }
            </select>
          }

          @if (feld.feldTyp === 'DATEI_UPLOAD') {
            <input
              type="file"
              [formControlName]="feld.feldName"
              class="form-control"
            />
          }
        </div>
      }
    </form>
  }

  <button (click)="goBack()">Zurück</button>
  <button (click)="antragErstellen()"> Antrag erstellen</button>
</div>
