button {
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.form-group {
  display: grid;
  grid-template-columns: 250px auto;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.form-control {
  width: 350px;
  padding: 0.5rem;
}
